## <a href='https://projecteuler.net/problem=1'>1. Multiples of 3 and 5</a>
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.  

Find the sum of all the multiples of 3 or 5 below 1000.
___

First, find the nearest number that are the multiples  

$$
\begin{aligned}
    \frac{1000}{3} &= 333.3333... \\
    333 \times 3 &= 999
\end{aligned}
$$
so 999 is the largest multiple of 3 under 1000   

For 5:  
$$
\begin{aligned}
    \frac{1000}{5} &= 200 \\
    199 \times 5 &= 999
\end{aligned}
$$
excluding 1000.

Here is the idea, for the sum of multiples of 3:  
$$
\begin{aligned}
    &999 + 996 + 993 + ... + 9 + 6 + 3 \\
    &= (3\times333) + (3\times332) + (3\times331) + ... + (3\times3) + (3\times2) + (3\times1) \\
    &= 3(333+332+331+...+3+2+1)
\end{aligned}
$$

apply the suming formula:  
$$ = 3(333+332+331+...+3+2+1) = 3\times\frac{(333+1)\times333}{2} $$ 

same idea applies on the sum of multiples of 5:  
$$ 5\times\frac{(199+1)\times199}{2} $$  

and remember to minus the repeated numbers, which they are all multiples of both 3 & 5 (15):
$$
\begin{aligned}
    \frac{1000}{15} &= 66.66... \\
    66 \times 15 &= 990 \\
    \text{sum} &= 15\times\frac{(66+1)\times66}{2}
\end{aligned}
$$

Therefore, the sum of all the multiples of 3 or 5 below 1000:  
$$
\begin{aligned}
    &3\times\frac{(333+1)\times333}{2} + 5\times\frac{(199+1)\times199}{2} - 15\times\frac{(66+1)\times66}{2} \\
    &= 166833 + 99500 - 33165 \\
    &= 233168
\end{aligned}
$$

In [1]:
# input
q1_input = {'under': 1000}

# function
def q1(under: int):
    return print( sum(i for i in range(under) if i%3 == 0 or i%5 == 0) )

In [2]:
%%timeit -n 1 -r 1
q1(**q1_input)

233168
251 µs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)