## <a href='https://projecteuler.net/problem=17'>17. Number letter counts</a>
If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are $3 + 3 + 5 + 4 + 4 = 19$ letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?

NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.
___

more like a counting puzzle, <br>
by following the rules, lets start with a simpler case, 1 to 9.

### 1. 1 to 9:
one = 3 <br>
two = 3 <br>
three = 5 <br>
four = 4 <br>
five = 4 <br>
six = 3 <br>
seven = 5 <br>
eight = 5 <br>
nine = 4

the total is 36.

### 2. lets consider 11 to 19:
eleven = 6 <br>
twelve = 6 <br>
threeteen = 5 + 4 = 9 <br>
fourteen = 4 + 4 = 8 <br>
fifteen = 4 + 4 = 8 <br>
sixteen = 3 + 4 = 7 <br>
seventeen = 5 + 4 = 9 <br>
eightteen = 5 + 4 = 9 <br>
nineteen = 4 + 4 = 8

the total is 70.
#### LOOK I m shit in spelling !!!!!!!!! my 18 is wrong

not hard to see, the following numbers are just something added at the front, <br>
only the 0X's group and the 1X's group are special. 

you can see i m skipping the 'ten's,  
coz they are the special cases, i will explain later. 

well here is why: <br>
1. the 'ten's are always followed up by no numbers <br>
this means, 30 -> no number words after thirty. <br>
genernally, all 'ten's follow this rule. <br><br>
2. they are the 'starting points' and 'multiply-ables' <br>
you will see what they mean while i m doing sum.

### 3. now lets consider the 'ten's, or now call the 'ty's:
1 to 9 -> no 'ty', so add nothing -> 36 <br>
11(10) to 19 -> special -> ten + 70 = 3 + 70 = 73 <br>
20's -> twenty = 6 <br>
30's -> thirty = 6 <br>
40's -> forty = 5 <br>
50's -> fifty = 5 <br>
60's -> sixty = 5 <br>
70's -> seventy = 7 <br>
80's -> eighty = 6 <br>
90's -> ninety = 6 <br>

### 4. considering < 100,
all 20's to 90's (99) are just the 'ty's + '1 to 9' <br>
every X0's has 10 'ty's, so time 10 <br>
so under 100:

1 (0) to 9: 36 <br>
10 to 19: 73 <br>
20 to 29: 10 x 6 + 36 = 96 <br>
30 to 39: 10 x 6 + 36 = 96 <br>
40 to 49: 10 x 5 + 36 = 86 <br>
50 to 59: 10 x 5 + 36 = 86 <br>
60 to 69: 10 x 5 + 36 = 86 <br>
70 to 79: 10 x 7 + 36 = 106 <br>
80 to 89: 10 x 6 + 36 = 96 <br>
90 to 99: 10 x 6 + 36 = 96 <br><br>
the total is 857.

### 5. moving on to hundreds,
X00 are always '1 to 9's + 'hundred' = '1 to 9's + 7  <br>
except for X00, all other XXX 'hundred's contains 'and's <br>
so, for every hundreds: 

1. 100 times of 'hundred' = 100 x 7
2. 100 times of any one of the '1 to 9's = 100 x '1 to 9'
3. 99 times of the 'and' = 99 x 3
4. the remaining is '1 to 99' = 857

therefore from 1 to 999: 

1. 1 to 99: 857
2. 100 to 199: 100x'one' + 100x'hundred' + 99x'and' + 867 = 100x3 + 100x7 + 99x3 + 857 = 2154
3. 200 to 299: 100x'two' + 100x'hundred' + 99x'and' + 867 = 100x3 + 100x7 + 99x3 + 857 = 2154
4. 300 to 399: 100x'three' + 100x'hundred' + 99x'and' + 867 = 100x5 + 100x7 + 99x3 + 857 = 2354 
5. 400 to 499: 100x'four' + 100x'hundred' + 99x'and' + 867 = 100x4 + 100x7 + 99x3 + 857 = 2254
6. 500 to 599: 100x'five' + 100x'hundred' + 99x'and' + 867 = 100x4 + 100x7 + 99x3 + 857 = 2254
7. 600 to 699: 100x'six' + 100x'hundred' + 99x'and' + 867 = 100x3 + 100x7 + 99x3 + 857 = 2154
8. 700 to 799: 100x'seven' + 100x'hundred' + 99x'and' + 867 = 100x5 + 100x7 + 99x3 + 857 = 2354 
9. 800 to 899: 100x'eight' + 100x'hundred' + 99x'and' + 867 = 100x5 + 100x7 + 99x3 + 857 = 2354 
10. 900 to 999: 100x'nine' + 100x'hundred' + 99x'and' + 867 = 100x4 + 100x7 + 99x3 + 857 = 2254 <br><br>
the total is 21143.

### 6. plus 'one thousand':

21243 + 3 + 8 = 21154

#### OFC the above number is wrong, i spelled thirteen and eighteen wrong

### basicially, same counting method:
1 - 9: 36 <br>
10 and 11 - 19: 3 + 67 = 30 <br>
20's: 6 --> 6 x10 + 36 = 96 <br>
30's: 6 --> 6 x10 + 36 = 96 <br>
40's: 5 --> 5 x10 + 36 = 86 <br>
50's: 5 --> 5 x10 + 36 = 86 <br>
60's: 5 --> 5 x10 + 36 = 86 <br>
70's: 7 --> 7 x10 + 36 = 106 <br>
80's: 6 --> 6 x10 + 36 = 96 <br>
90's: 6 --> 6 x10 + 36 = 96

below 100 total = 854

### the 'hundred's: (hundred = 7 (100 of this) & and = 3 (99 of this))
0 - 99: 854 <br>
100's: 3 + 7 = 10 --> 10 x100 + 854 + 3 x99 = 2151 <br>
200's: 3 + 7 = 10 --> 10 x100 + 854 + 3 x99 = 2151 <br>
300's: 5 + 7 = 12 --> 12 x100 + 854 + 3 x99 = 2351 <br>
400's: 4 + 7 = 11 --> 11 x100 + 854 + 3 x99 = 2251 <br>
500's: 4 + 7 = 11 --> 11 x100 + 854 + 3 x99 = 2251 <br>
600's: 3 + 7 = 10 --> 10 x100 + 854 + 3 x99 = 2151 <br>
700's: 5 + 7 = 12 --> 12 x100 + 854 + 3 x99 = 2351 <br>
800's: 5 + 7 = 12 --> 12 x100 + 854 + 3 x99 = 2351 <br>
900's: 4 + 7 = 11 --> 11 x100 + 854 + 3 x99 = 2251

below 1000 total = 21113

### plus 'one thousand': (+ 3 + 8)
    
21113 + 3 + 8 = 21124