## 19. Counting Sundays
You are given the following information, but you may prefer to do some research for yourself.

- 1 Jan 1900 was a Monday.
- Thirty days has September,<br>
    April, June and November.
- All the rest have thirty-one
- Saving February alone,<br>
    Which has twenty-eight, rain or shine.
    - And on leap years, twenty-nine.

A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.<br><br>
How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

> 1. using the idea of mod(7)  
2. and mod(28) to see how _days change each month

In [39]:
import numpy as np
import time

In [19]:
# some notations
week = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
month = ['JAN','FEB','MAR','APR','MAY','JUN',\
         'JUL','AUG','SEP','OCT','NOV','DEC']

In [21]:
# JAN, with the first day as monday
for date in range(1,31+1):   # 31 days in JAN
    day = date%7
    print(str(date),'JAN is',week[day],day)
    day += 1

1 JAN is Mon 1
2 JAN is Tue 2
3 JAN is Wed 3
4 JAN is Thu 4
5 JAN is Fri 5
6 JAN is Sat 6
7 JAN is Sun 0
8 JAN is Mon 1
9 JAN is Tue 2
10 JAN is Wed 3
11 JAN is Thu 4
12 JAN is Fri 5
13 JAN is Sat 6
14 JAN is Sun 0
15 JAN is Mon 1
16 JAN is Tue 2
17 JAN is Wed 3
18 JAN is Thu 4
19 JAN is Fri 5
20 JAN is Sat 6
21 JAN is Sun 0
22 JAN is Mon 1
23 JAN is Tue 2
24 JAN is Wed 3
25 JAN is Thu 4
26 JAN is Fri 5
27 JAN is Sat 6
28 JAN is Sun 0
29 JAN is Mon 1
30 JAN is Tue 2
31 JAN is Wed 3

>yup this kinda works. <br>
1 being monday & 0 being sunday

> or, i got another method, <br>
why not count the total days first? <br>

> nah use that later, <br>
get the leap years, <br>
then work out the pattern of day-change

In [26]:
for year in range(1901,2000+1):
    
    if year%4 == 0 and year%400 != 0:
        print('leap:', year,1)

leap: 1904 1
leap: 1908 1
leap: 1912 1
leap: 1916 1
leap: 1920 1
leap: 1924 1
leap: 1928 1
leap: 1932 1
leap: 1936 1
leap: 1940 1
leap: 1944 1
leap: 1948 1
leap: 1952 1
leap: 1956 1
leap: 1960 1
leap: 1964 1
leap: 1968 1
leap: 1972 1
leap: 1976 1
leap: 1980 1
leap: 1984 1
leap: 1988 1
leap: 1992 1
leap: 1996 1

> now work out the 'months details': <br>
you will see

In [40]:
month_days = np.array([31,28,31,30,31,30,31,31,30,31,30,31]) 
month_days_leap = np.array([31,28+1,31,30,31,30,31,31,30,31,30,31])

In [41]:
month_days%28

array([3, 0, 3, 2, 3, 2, 3, 3, 2, 3, 2, 3], dtype=int32)

In [28]:
'''
t1 = time.time()

day = 1
whatday = np.array([day])  # maybe not useful in question but can use for advanced needs 

yr_start = 1901
yr_end = 2000

cnt = 0
for year in range(yr_start, yr_end + 1):

    for month_index in range(0,12):
        month = month_index + 1
    
        if year%4 == 0 and year%400 != 0 and month == 2:
                day += 1
            
        day += month_days[month_index-1]%28
        
        if year == yr_start and month == 1:
            day = 1
        
        print(year,month,day%7)
        
        if day%7 == 0:
            cnt += 1

t2 = time.time()  
print(t2-t1,'seconds taken')
cnt
'''
print('old code')

old code

In [90]:
# re-do
# asking if the 1st is a sunday ==> 01<month>%7 == 0? 

# some notations
weekdays = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
months = ['JAN','FEB','MAR','APR','MAY','JUN',\
         'JUL','AUG','SEP','OCT','NOV','DEC']
month_days = np.array([31,28,31,30,31,30,31,31,30,31,30,31]) 

month_day = [31,28,31,30,31,30,31,31,30,31,30,31]

# the day difference after each month
day_diff = month_days%28    # even %7 is fine, as weeks <==> 28days

# init
yr_start = 1901
yr_end = 2000
cnt = 0

# day counter
day_index = 1    # start with 1 as monday

# time it
t1 = time.time()

# year
for year in range(yr_start, yr_end+1):

    # months
    for month_index, month_name in enumerate(months):
        
        #1 if leap year
        if (year%4 == 0 and 
            year%400 != 0 and 
            month_index == 1):    # 1 is FEB, 0 is JAN
            
            day_index += 1    # one extra day for leap year (29Feb)
        
        #2 cnt condition, if 1st is a sunday
        if day_index%7 == 0:
            cnt += 1
            print('01',months[month_index],year,'is',weekdays[day_index%7])
        
        #3 day counter increase for next month
        day_index += day_diff[month_index]
        '''
        or 
        day_index += month_days[month_index]%28
        '''
cnt

01 APR 1901 is Sun
01 JUL 1901 is Sun
01 SEP 1902 is Sun
01 DEC 1902 is Sun
01 JUN 1903 is Sun
01 AUG 1904 is Sun
01 MAY 1905 is Sun
01 JAN 1906 is Sun
01 OCT 1906 is Sun
01 APR 1907 is Sun
01 JUL 1907 is Sun
01 JUN 1908 is Sun
01 FEB 1909 is Sun
01 MAR 1909 is Sun
01 NOV 1909 is Sun
01 AUG 1910 is Sun
01 MAY 1911 is Sun
01 JAN 1912 is Sun
01 APR 1912 is Sun
01 JUL 1912 is Sun
01 SEP 1913 is Sun
01 DEC 1913 is Sun
01 JUN 1914 is Sun
01 FEB 1915 is Sun
01 MAR 1915 is Sun
01 NOV 1915 is Sun
01 MAY 1916 is Sun
01 JAN 1917 is Sun
01 OCT 1917 is Sun
01 APR 1918 is Sun
01 JUL 1918 is Sun
01 SEP 1919 is Sun
01 DEC 1919 is Sun
01 FEB 1920 is Sun
01 MAR 1920 is Sun
01 NOV 1920 is Sun
01 AUG 1921 is Sun
01 MAY 1922 is Sun
01 JAN 1923 is Sun
01 OCT 1923 is Sun
01 SEP 1924 is Sun
01 DEC 1924 is Sun
01 JUN 1925 is Sun
01 FEB 1926 is Sun
01 MAR 1926 is Sun
01 NOV 1926 is Sun
01 AUG 1927 is Sun
01 OCT 1928 is Sun
01 APR 1929 is Sun
01 JUL 1929 is Sun
01 SEP 1930 is Sun
01 DEC 1930 is Sun
01 JUN 1931 is Sun
01 AUG 1932 is Sun
01 MAY 1933 is Sun
01 JAN 1934 is Sun
01 OCT 1934 is Sun
01 APR 1935 is Sun
01 JUL 1935 is Sun
01 JUN 1936 is Sun
01 FEB 1937 is Sun
01 MAR 1937 is Sun
01 NOV 1937 is Sun
01 AUG 1938 is Sun
01 MAY 1939 is Sun
01 JAN 1940 is Sun
01 APR 1940 is Sun
01 JUL 1940 is Sun
01 SEP 1941 is Sun
01 DEC 1941 is Sun
01 JUN 1942 is Sun
01 FEB 1943 is Sun
01 MAR 1943 is Sun
01 NOV 1943 is Sun
01 MAY 1944 is Sun
01 JAN 1945 is Sun
01 OCT 1945 is Sun
01 APR 1946 is Sun
01 JUL 1946 is Sun
01 SEP 1947 is Sun
01 DEC 1947 is Sun
01 FEB 1948 is Sun
01 MAR 1948 is Sun
01 NOV 1948 is Sun
01 AUG 1949 is Sun
01 MAY 1950 is Sun
01 JAN 1951 is Sun
01 OCT 1951 is Sun
01 SEP 1952 is Sun
01 DEC 1952 is Sun
01 JUN 1953 is Sun
01 FEB 1954 is Sun
01 MAR 1954 is Sun
01 NOV 1954 is Sun
01 AUG 1955 is Sun
01 OCT 1956 is Sun
01 APR 1957 is Sun
01 JUL 1957 is Sun
01 SEP 1958 is Sun
01 DEC 1958 is Sun
01 JUN 1959 is Sun
01 AUG 1960 is Sun
01 MAY 1961 is Sun
01 JAN 1962 is Sun
01 OCT 1962 is Sun
01 APR 1963 is Sun
01 JUL 1963 is Sun
01 JUN 1964 is Sun
01 FEB 1965 is Sun
01 MAR 1965 is Sun
01 NOV 1965 is Sun
01 AUG 1966 is Sun
01 MAY 1967 is Sun
01 JAN 1968 is Sun
01 APR 1968 is Sun
01 JUL 1968 is Sun
01 SEP 1969 is Sun
01 DEC 1969 is Sun
01 JUN 1970 is Sun
01 FEB 1971 is Sun
01 MAR 1971 is Sun
01 NOV 1971 is Sun
01 MAY 1972 is Sun
01 JAN 1973 is Sun
01 OCT 1973 is Sun
01 APR 1974 is Sun
01 JUL 1974 is Sun
01 SEP 1975 is Sun
01 DEC 1975 is Sun
01 FEB 1976 is Sun
01 MAR 1976 is Sun
01 NOV 1976 is Sun
01 AUG 1977 is Sun
01 MAY 1978 is Sun
01 JAN 1979 is Sun
01 OCT 1979 is Sun
01 SEP 1980 is Sun
01 DEC 1980 is Sun
01 JUN 1981 is Sun
01 FEB 1982 is Sun
01 MAR 1982 is Sun
01 NOV 1982 is Sun
01 AUG 1983 is Sun
01 OCT 1984 is Sun
01 APR 1985 is Sun
01 JUL 1985 is Sun
01 SEP 1986 is Sun
01 DEC 1986 is Sun
01 JUN 1987 is Sun
01 AUG 1988 is Sun
01 MAY 1989 is Sun
01 JAN 1990 is Sun
01 OCT 1990 is Sun
01 APR 1991 is Sun
01 JUL 1991 is Sun
01 JUN 1992 is Sun
01 FEB 1993 is Sun
01 MAR 1993 is Sun
01 NOV 1993 is Sun
01 AUG 1994 is Sun
01 MAY 1995 is Sun
01 JAN 1996 is Sun
01 APR 1996 is Sun
01 JUL 1996 is Sun
01 SEP 1997 is Sun
01 DEC 1997 is Sun
01 JUN 1998 is Sun
01 FEB 1999 is Sun
01 MAR 1999 is Sun
01 NOV 1999 is Sun
01 AUG 2000 is Sun

171

> yeah correct, 171 <br>
but need to be careful when reading this whole thing again, <br>
since the initial condition was set, <br>
you need to be extra careful when dealing with sth like this, <br>
the next data depends on the previous data  
so order of the code is important