## <a href='https://projecteuler.net/problem=32'>32. Pandigital products</a>

We shall say that an n-digit number is pandigital if it makes use of all the digits 1 to n exactly once; for example, the 5-digit number, 15234, is 1 through 5 pandigital.

The product 7254 is unusual, as the identity, $39 Ã— 186 = 7254$, containing multiplicand, multiplier, and product is 1 through 9 pandigital.

Find the sum of all products whose multiplicand/multiplier/product identity can be written as a 1 through 9 pandigital.

HINT: Some products can be obtained in more than one way so be sure to only include it once in your sum.
___

> try finding all pandigital numbers with 9-digit? <br>
no, 9! = 362880, so a huge number to check

> try number of digits of multiplicand/multiplier/product <br>
let d(n) = number of digit of n <br>
for a * b = c, and set a<b:
1. d(a) <= d(c) & d(b) <= d(c)
2. sum( d( [a,b,c] ) ) = 9 <br>
so [(1,4),4] [(2,3),4]

In [11]:
import numpy as np
import time
import math

In [12]:
a = 1234
b = 5678
c = 5

sa,sb,sc = set(str(a)) , set(str(b)) , set(str(c))

In [13]:
sa,sb,sc

({'1', '2', '3', '4'}, {'5', '6', '7', '8'}, {'5'})

In [14]:
if sc & sb == set([]):
    print(sc & sb)

else:
    print('nah')

nah

In [15]:
# try example
a = 39
b = 186
c = 7254

a*b == c

True

In [16]:
# try example
sa,sb,sc = set(str(a)) , set(str(b)) , set(str(c))
sa & sb == set([]) , sb & sc == set([]) , sa & sc == set([])

(True, True, True)

In [17]:
a = 112
b = 50
sa,sb = set(str(a)) , set(str(b))
sa,sb

({'1', '2'}, {'0', '5'})

In [18]:
len(sa) , len(str(a))

(2, 3)

In [19]:
'0' in sa | sb

True

> so length of the set =/= length of that string, <br>
contains repeated digits with itself <br><br>
str(0) in set = true, <br>
means 0 is in

In [20]:
sa | sb == set(['1','2','5','0'])

True

> i have some new idea <br>
a = 12 , b = 345 , c = 6789 <br>
set(a) | set(b) | set(b) == set(1,2,3,4,5,6,7,8,9) <br>

In [21]:
ans = np.array([])
check = set(str(123456789))

# 144
for a in range(1,9+1):
    b = np.arange(1000,9999+1)
    
    c = a * b
    
    for ci in range(len(c)):
        
        if c[ci] <= 9999:
            sa = set(str(a))
            sb = set(str(b[ci]))
            sc = set(str(c[ci]))

            if sa | sb | sc == check:
                print(a,'*',b[ci],'=',c[ci])
                ans = np.append(ans,c[ci])
            
# 234
for a in range(10,99+1):
    b = np.arange(100,999+1)
    
    c = a * b
       
    for ci in range(len(c)):
        
        if c[ci] <= 9999:
            sa = set(str(a))
            sb = set(str(b[ci]))
            sc = set(str(c[ci]))

            if sa | sb | sc == check:
                print(a,'*',b[ci],'=',c[ci])
                ans = np.append(ans,c[ci])
                
sum(ans)

4 * 1738 = 6952
4 * 1963 = 7852
12 * 483 = 5796
18 * 297 = 5346
27 * 198 = 5346
28 * 157 = 4396
39 * 186 = 7254
42 * 138 = 5796
48 * 159 = 7632

56370.0

> wrong <br>
coz question stated: <br>
__HINT: Some products can be obtained in more than one way so be sure to only include it once in your sum.__ <br>
so is any product repeats, only add once

In [172]:
6952 + 7852 + 5796 + 5346 + 4396 + 7254 + 7632

45228

> so this is correct

In [28]:
# another way

t1 = time.time()

ans = np.array([])
check = set(str(123456789))

# 144
for a in range(1,9+1):
    b = np.arange(1000,9999+1)
    
    c = a * b
    
    for ci in range(len(c)):
        
        if c[ci] <= 9999:
            sa = set(str(a))
            sb = set(str(b[ci]))
            sc = set(str(c[ci]))

            if sa | sb | sc == check:
                print(a,'*',b[ci],'=',c[ci])
                ans = np.append(ans,c[ci])
            
# 234
for a in range(10,99+1):
    b = np.arange(100,999+1)
    
    c = a * b
       
    for ci in range(len(c)):
        
        if c[ci] <= 9999:
            sa = set(str(a))
            sb = set(str(b[ci]))
            sc = set(str(c[ci]))

            if sa | sb | sc == check:
                print(a,'*',b[ci],'=',c[ci])
                ans = np.append(ans,c[ci])
                
t2 = time.time()
print(t2-t1,'seconds taken')
                
ans = set(ans)  # this removes the repeated ones 
sum(ans)

4 * 1738 = 6952
4 * 1963 = 7852
12 * 483 = 5796
18 * 297 = 5346
27 * 198 = 5346
28 * 157 = 4396
39 * 186 = 7254
42 * 138 = 5796
48 * 159 = 7632
0.13862991333007812 seconds taken

45228.0